*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
body{
    background: rgba(11, 11, 34, 0.9);
    backdrop-filter: blur(875px);
    font-family:'Noto Sans', sans-serif;
}
button{
    cursor: pointer;
    transition: .4s;
    border: none;
}

/*header-start*/

#navbar{
    padding: 20px 0;
    position: sticky;
    z-index: 100;
    top: 0;
    background: rgb(29, 29, 51);

}
.navbar-logo{
    display: flex;
    align-items: center;
}
.navbar-logo ion-icon{
    margin-right: 17px;
    color: white;
    font-size: 25px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-nav a{
    margin: 0 25px;
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    transition: .4s;
}
.navbar-nav a:hover{
    border-bottom: 2px solid white;

}
.navbar-logo h1{
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
}
.navbar button{
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 12px 20px;
}
.navbar button:hover{
    transform: scale(1.1);
    background: blueviolet;
}

.menu{
    display: none;
}
#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
}

.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: 100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}
.menu__item:hover {
    background-color: #CFD8DC;
}

/*header-end*/

/*hero-start*/
#hero{
    padding: 40px 0;
}
.hero{
    display: flex;
    align-items: center;
}
.hero-logo h3{
    font-weight: 600;
    font-size: 16px;
    color: #16FCD2;
}
.hero-logo h1{
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
    width: 502px;
}
.tell-square{
    background: rgba(255, 255, 255, 0.05);
    border-radius: 3px;
    width: 50px;
    height: 50px;
    margin: 4px 20px;

}
.hero-logo p{
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.6);

}
.hero-logo h1{
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    padding: 20px 0;

}
.tell-square ion-icon{
    margin: 3px 5px;
    font-size: 40px;
}
.tell-45{
    display: flex;
}
.tell-46{
    display: flex;

}
.hero-title{
    width: 412px;
    height: 508px;background: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
}
.hero-square{
    width: 412px;
    height: 508px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 5px;


}
.hero-square3{
    display: flex;
}
.hero-square4{
    display: flex;
}
.hero-square2{
    width: 160px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    margin-left: 36px;
}
.herup h4{
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    padding-left:36px;
    padding-top: 52px;
}
.herot{
    width: 341px;
    height: 130px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    margin-left: 36px;
}
.hero-square h3{
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    padding-left:36px;
    padding-top: 52px;
}
.hero-square button{
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    background: #6016FC;
    border-radius: 3px;
    padding: 15px 110px;
    margin: 10px 50px;
}
.hero-square button:hover{
    transform: scale(1.1);
    background: #FFFFFF;
    color: #161629;
}
/*hero-end*/


/*time-start*/
#time{
    padding: 40px 0;
}
.time{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.time h1{
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
    width: 589px;
    text-align: center;
}
.time-btn button{
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    padding:10px 30px;
    margin: 20px 10px;
}
.time-btn button:hover{
    transform: scale(1.1);
    background: #6016FC;
    border-radius: 3px;
}
.time-circle{
    width: 46px;
    height: 46px;
    background: linear-gradient(180deg, #FF81A6 0%, #FC165B 100%);
    filter: blur(5px);
    transform: rotate(-34.72deg);
    border-radius: 50%;
    margin: 0 0 120px 080px
}
/*time-end*/

/*footer-start*/
#footer{
    padding: 50px 0;
}

.footer-circle{
    width: 55px;
    height: 55px;
    background: linear-gradient(180deg, #66FFA3 0%, #009C3E 100%);
    filter: blur(5px);
    transform: rotate(-34.72deg);
    border-radius: 50%;
    margin-bottom: 160px;
}
.foot-cir{
    display: flex;
    align-items: center;
}
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer h1{
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
}
.foot-cir ion-icon{
    color: white;
    margin: 0 17px;
    font-size: 30px;
}
.foot-1 p{
    margin: 20px 0;
    font-weight: 500;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);

}
.footer h3{
    padding: 20px 0;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
.footer p{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.6);
}
/*footer-end*/